/*Desktop*/
@media only screen and (min-width: 600px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: inline-flex;
    }
    html {
    background: url(../assets/img/woodTile64x64.png);
    background-attachment: fixed;
    }
    .avatar {
        background-image: url(../assets/img/AvatarInsta2.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 15vw;
        height: 15vw;
        border: 4px white solid;
        border-radius: 50%;
    }
    .titaut {
        width: 90%;
        margin-top: 5vh;
        text-align: center;
        color: ivory;
    }
    .imgfb, .imgtt, .imgdeviant, .imgpixilart, .imgartstation {
        background-repeat: no-repeat;
        background-size: cover;
        width: 10vw;
        height: 10vw;
        margin: auto;
    }
    .imgfb {
        background-image: url(../assets/img/socialmedia/IconFB.png);
    }
    .imgtt {
        background-image: url(../assets/img/socialmedia/IconTT.png);
    }
    .imgdeviant {
        background-image: url(../assets/img/socialmedia/IconDA.png);
    }
    .imgpixilart {
        background-image: url(../assets/img/socialmedia/IconPixil.png);
    }
    .imgartstation {
        background-image: url(../assets/img/socialmedia/IconArtS.png);
    }
}


/*Mobile*/
@media only screen and (max-width: 600px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
        height: 100vh;
        background-image: url(../assets/img/WoodTile64x25.png);
        background-repeat: repeat-x;
        position: static;
        background-position: bottom;
    }
    .avatar {
        background-image: url(../assets/img/AvatarInsta2.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 50vw;
        height: 50vw;
        border: 4px white solid;
        border-radius: 50%;
        margin-top: 5vh;
    }
    html {
        background: url(../assets/img/woodTile64x64.png);
        background-attachment: fixed;
    }
    .titaut h1{
        display: none;
    }
    .mob_sec1, .mob_sec2 {
        position: relative;
        margin-bottom: 2vh;
    }
    .mob_sec1 {
        margin-right: 10vw;
    }
    .mob_sec2 {
        margin-left: 10vw;
    }
    .imginsta, .imgfb, .imgtt, .imgdeviant, .imgpixilart, .imgartstation {
        background-repeat: no-repeat;
        background-size: cover;
        width: 60px;
        height: 60px;
        margin: 7vw;
    }
    .imginsta {
        background-image: url(../assets/img/socialmedia/IconIG.png);
    }
    .imgfb {
        background-image: url(../assets/img/socialmedia/IconFB.png);
    }
    .imgtt {
        background-image: url(../assets/img/socialmedia/IconTT.png);
    }
    .imgdeviant {
        background-image: url(../assets/img/socialmedia/IconDA.png);
    }
    .imgpixilart {
        background-image: url(../assets/img/socialmedia/IconPixil.png);
    }
    .imgartstation {
        background-image: url(../assets/img/socialmedia/IconArtS.png);
    }
}